<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813360309585-uc7fc6bs9ute1ot0i1pp9agilbuuk1n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813360309585-uc7fc6bs9ute1ot0i1pp9agilbuuk1n7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>813360309585-qbnj6qemgbo765amobdmu2krtfrhvhdj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYMdngR6DFpJeHWkAR5hELkFpNIRk5hFU</string>
	<key>GCM_SENDER_ID</key>
	<string>813360309585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PublicGalleryNoExpocvcvcx</string>
	<key>PROJECT_ID</key>
	<string>publicgallerynoexpocvcvcx</string>
	<key>STORAGE_BUCKET</key>
	<string>publicgallerynoexpocvcvcx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813360309585:ios:84b3153ee32b155d40df70</string>
</dict>
</plist>